.videoNode,
.videoNodeActive {
	display: inline-block;
	position: relative;

	.overlay {
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.5);
	}

	iframe,
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		border: 0px;
		left: 0px;
		top: 0px;
	}
}

.videoNode {
	border: 2px solid #FFF;

	.videoToolbar {
		display: none;
	}
}

.videoNodeActive {
	border: 2px solid #ef6942;

	.videoToolbar {
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 100;

		.videoToolbarItem {
			display: inline-block;
			color: #FFF;
			padding: 5px;
			margin: 2px;
			border-radius: 2px;
			background-color: #333;
		}
	}
}
