body {
  background-color: #CCC;
}

.ql-stroke {
  stroke: #444;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.ql-stroke-active {
  stroke: #CCC;
  fill: transparent;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

.ql-stroke-mitter {
  stroke: #444;
  fill: transparent;
}

.ql-stroke-mitter-active {
  stroke: #CCC;
  fill: transparent;
}

.ql-fill {
  fill: #444;
}

.ql-fill-active {
  fill: #CCC;
}

.ql-even {
  stroke: #444;
  fill: #FFF;
}

.ql-even-active {
  stroke: #CCC;
  fill: #FFF;
}

.ql-color-label {
  fill: red;
}

.ql-transparent {
  opacity: 0.2;
}

.ql-thin {
  stroke: #444;
  fill: transparent;
  stroke-width: 1;
}

.ql-thin-active {
  stroke: #CCC;
  fill: transparent;
  stroke-width: 1;
}

.toolbar {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  background-color: #FFF;
}

.toolbar-item, .toolbar-item-active {
  width: 30px;
  height: 30px;
}

.editor {
  padding: 20px;
  background-color: #FFF;
}
